td,tr,th {border: 2px black solid;}
table {border-collapse: collapse;}
.sif {background-color: red;}
.lm {background-color: blue;}
.ed {background-color: orange;}
.prog {background-color: green;}
.fol {background-color: grey;}
.bd {background-color: lightseagreen;}
.rec {background-color: salmon;}
td:last-child:hover {
    background-color: yellow;
    width: 200px;
}
th:last-child:hover {
    background-color: yellow;
}